# Mengabaikan environment variables & rahasia
.env
chatbot_admisi/.env

# Mengabaikan file sistem Python
__pycache__/
*.pyc

# Mengabaikan folder besar Node.js (biar upload nggak berat)
node_modules/
frontend/.next/node_modules/backend/firebase-key.json
